@mixin resetList {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin flexBox($direction: row, $justify-content: flex-start, $align-items: flex-start, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}